@tailwind base;
@tailwind components;
@tailwind utilities;

/* Safe area for mobile */
:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

html, body, #root {
  height: 100%;
}

/* Global style tweaks */
button {
  -webkit-tap-highlight-color: transparent;
}